* {
  font-family: 'Maple Mono NF CN ExtraBold';
  font-size: 22px;
  font-weight: bold;
}
/* 设置 Waybar 完全透明 */
#waybar {
  background-color: rgba(0,0,0,0);  /* 完全透明 */
}

/* 模块部分的样式 */
#waybar .module {
  background-color: rgba(41, 44, 62, 0.9);  /* 模块背景稍微透明 */
  color: #A9B1D6;
  border-radius: 16px; 
  padding: 0 6px;
  margin: 0 6px;
}

