* {
  font-family: 'Maple Mono NF CN SemiBold';
  font-size: 20px;
  padding: 4px;
}

window {
  background-color: rgba(26, 27, 38, 0.7);
  border: 2px solid #3b4261;   /* 主题边框色 */
  border-radius: 8px;
  color: #a9b1d6;             /* 主文本颜色 */
}

#input {
  background-color: rgba(26, 27, 38, 0.7);
  color: #7aa2f7;             /* 输入文本蓝色 */
  border: 2px solid #3b4261;
  border-radius: 4px;
  margin: 8px;
}

#scroll {
  margin: 8px;
}

#entry {
  padding: 8px;
  border-radius: 4px;
}

#entry:focus {
  background-color: rgba(59, 66, 97, 0.7);   /* 选中项背景 */
  border: 1px solid #7aa2f7;   /* 选中项边框蓝 */
}

#text:selected {
  color: #9ece6a;             /* 选中项强调色（绿色） */
}
